@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    color: #fff;
}

body {
    background: url(img/signup.jpg);
    background-position: center;
    background-size: cover;
}

.signup-section {
    border: 2px solid whitesmoke;
    height: auto;
    /* max-width: 400px; */
    width: 27.5%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    transition: 0.3s;
    padding: 37.5px;
    box-sizing: border-box;
}

.signup-section:hover {
    box-shadow: 0 0 37.5px whitesmoke;
}

.signup-section .form-box {
    position: relative;
}

.form-box h2 {
    text-align: center;
    font-size: 37.5px;
    margin-bottom: 30px;
}

.form-box .input-box {
    width: 100%;
    height: 42px;
    border-bottom: 2px solid #fff;
    margin-bottom: 30px;
    position: relative;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 18.4px;
    padding-right: 28.8px;
    color: #fff;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 18.4px;
    font-weight: 500;
    color: #fff;
    transition: 0.3s ease;
}

.input-box .icon {
    position: absolute;
    top: 13.2px;
    right: 0;
    font-size: 19.8px;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
    top: 0;
    font-size: 18.4px;
}

.btn {
    background-color: #fff;
    width: 100%;
    height: 42px;
    outline: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18.4px;
    color: #fff;
    background: #ff0000;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}

.create-account {
    font-size: 15.225px;
    text-align: center;
    margin-top: 30px;
}

.create-account p a {
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}

.create-account p a:hover {
    color: #ff0000;
    font-weight: 600;
}

.input-box-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-box-container .input-box {
    width: calc(52.5% - 10.5px);
    margin-bottom: 0;
}

.input-box-container .input-box:first-child {
    margin-right: 10.5px;
}

.input-box-container .icon {
    top: 50%;
    transform: translateY(-50%);
}
