/* Gallery Section Begins -----------------------------------------------------------------------------------------------*/

.gallery h1 {
    color: #ffffff;
    font-size: 40px;
    text-align: center;
    font-weight: 600;
    padding-bottom: 5px;
}

.clip_path {
    padding: 30px 0 35px 0; /* Decrease the bottom padding */
    background-color: #333;
    position: relative;
}
  
.clip_path::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 25%; /* Increase the height for a stronger blur effect */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), #333); /* Adjust the opacity as needed */
    filter: blur(25px); /* Increase the blur intensity as needed */
    pointer-events: none;
}

/* Top 3 Bikes ---------------------------------- */
.container-top{
    display: flex;
    justify-content: center;
    background: #a8a8a8;
    position: center;
    /* width: 100vw; */
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
    margin-top: 10px;
}

.container-top .bikes{
    width: 325px;
    position: relative;
    height: 400px;
    background: #f0f0f0;
    margin: 30px 50px;
    padding: 0px 25px;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px #a8a8a8;
    transition: 0.5s ease-in-out;
    margin-top: 5%;
}

 .container-top .bikes .image{
    position: relative;
    width: 260px;
    height: auto;
    top: -50px;
    left: 13px;
    box-shadow: 0 5px 20px rbga(0,0,0,1.2);
}

.container-top .bikes .image .img {
    max-width: 100%;
    border-radius: 10px;
}

.container-top .bikes .image h2 {
    margin-top: 20px; /* Add margin to create space between image and name */
    margin-bottom: 5px; /* Add margin to create space between name and other texts */
}

.container-top .bikes .image p {
    margin-bottom: 5px; /* Add margin to create space between paragraphs */
}

.image:hover img{
    transform: scale(1.1);
}

.container-top .bikes .image .enquiry-btn{
    display: inline-block;
    position: relative;
    padding: 10px 35px;
    background: #db8e00;
    outline: none;
    cursor: pointer;
    font-size: 20px;
    color: white;
    transition: 0.5s ease;
    text-decoration: none;
    margin-top: 2px;
}

.container-top .bikes .image .enquiry-btn:hover{
    background: #ffa000;
    box-shadow: 0 0 5px #ffa000, 0 0 10px #ffa000, 0 0 15px #ffa000;
    border: none;
}

/* Bottom 3 Bikes ---------------------------------- */
.container-bottom{
    display: flex;
    justify-content: center;
    background: #a8a8a8;
    position: center;
    /* width: 100vw; */
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
    /* margin-top: 10px; */
}

.container-bottom .bikes{
    width: 325px;
    position: relative;
    height: 400px;
    background: #f0f0f0;
    margin: 30px 50px;
    padding: 0px 25px;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px #a8a8a8;
    transition: 0.5s ease-in-out;
    margin-top: 5%;
}

.container-bottom .bikes .image{
    position: relative;
    width: 260px;
    height: auto;
    top: -50px;
    left: 13px;
    box-shadow: 0 5px 20px rbga(0,0,0,1.2);
}

.container-bottom .bikes .image .img {
    max-width: 100%;
    border-radius: 10px;
}

.container-bottom .bikes .image h2 {
    margin-top: 20px; /* Add margin to create space between image and name */
    margin-bottom: 5px; /* Add margin to create space between name and other texts */
}

.container-bottom .bikes .image p {
    margin-bottom: 5px; /* Add margin to create space between paragraphs */
}

.image:hover img{
    transform: scale(1.1);
}

.container-bottom .bikes .image .enquiry-btn{
    display: inline-block;
    position: relative;
    padding: 10px 35px;
    background: #db8e00;
    outline: none;
    cursor: pointer;
    font-size: 20px;
    color: white;
    transition: 0.5s ease;
    text-decoration: none;
}

.container-bottom .bikes .image .enquiry-btn:hover{
    background: #ffa000;
    box-shadow: 0 0 5px #ffa000, 0 0 10px #ffa000, 0 0 15px #ffa000;
    border: none;
}

/* Gallery Section Ends -----------------------------------------------------------------------------------------------*/